* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.5px;
}
.container {
  width: 100%;
  max-width: 1140px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;

}
:focus {
  outline: 2px dotted #FF7500;
  outline-offset: 3px;
}
.site-header {
  border-top: 5px solid #FF7500;
  padding: 16px 0;
  background: #FFFFFF;
}
.site-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-link {
  transition: opacity 0.4s ease;
}
.logo-link:hover {
  opacity: 0.8;
}
.logo-link:active {
  opacity: 0.6;
}

.header-link {
  display: flex;
  align-items: center;
}
.header-nav {
  display: flex;
  align-items: center;
}
.header-ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  margin-right: 32px;
}

.sitenav-item {
  margin-right: 32px;
}
.sitenav-item:last-child {
  margin-right: 0;
}
.sitenav-link {
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  margin-right: 32px;
  transition: color 0.4s ease,
  opacity 0.4s ease;
}
.sitenav-link:hover {
  color: #FF7500;
}
.sitenav-link:active {
  opacity: 0.6;
}
.button {
  display: inline-block;
  padding: 12px 24px;
  border-radius: 4px;
  font-size:13px;
  font-weight: bold;
  line-height: 15.23px;
  color: #fff;
  background-color: #FF7500;
  text-decoration: none;
  transition: opacity 0.4s ease;
}
.button:hover {opacity: 0.8;}
.button:active {opacity: 0.6;}
.hero {
  padding: 80px 0;
  background: #252420;
  color: #fff;
}

.hero-content {
  width: 390px;
}
.hero-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.orange-line {
  width: 80px;
  height: 3px;
  background-color: #FF7500;
  margin: 0;
  margin-bottom: 40px;
  border: 0;
}
.hero-heading {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 40px;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 24px;
}
.hero-text {
  margin-top: 0;
  margin-bottom: 32px;
}
.hero-img {
  width: 534px;
  height: 534px;
  border-radius: 8px;
  box-shadow: 24px 24px 0 0 rgba(255, 117, 0, 0.6);
}
.features-section {
  padding: 210px 0;
}
.features-heading {
  font-family: "Roboto Condensed", sans-serif;
  margin-top: 0;
  margin-bottom: 72px;
  width: 440px;
  font-size: 72px;
  line-height: 120%;
}
.features-ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.features {
  width: 341px;
  margin-right: 40px;
}
.features:last-child {
  margin-right: 0;
}
.icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  margin-bottom: 32px;
  background-color: rgba(255, 119, 0, 0.5);
  border-radius: 50%;
}
.features-title {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 24px;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 12px;
}
.features-text {
  line-height: 1.5;
  margin: 0;
}
.promo {
  padding-top: 120px;
  padding-bottom: 160px;
}
.promo-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 64px;
  border-radius: 12px;
  background: #252420;
  color: #FFFFFF;
}
.promo-content {
  width: 440px;

}
.promo-heading {
  margin-top: 0;
  margin-bottom: 24px;
  font-family: "Roboto Condensed", sans-serif;
  width: 373px;
  font-size: 40px;
  line-height: 48px;

}
.promo-text-wrapper {
  margin-bottom: 24px;
}
.promo-text {
  margin-top: 0;
  margin-bottom: 12px;
}
.promo-text:last-child {
  margin-bottom: 0;
}
.promo-highlight {
  color: #FF7500;
}
.promo-img {
  width: 440px;
  height: 440px;
  object-fit: cover;
  border-radius: 12px ;
}

.site-footer {
  padding: 56px 0;
  background-color:#F8F8F8;
}
.site-footer-top
{
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: opacity 0.4s ease;
}
.site-footer-top:hover {
  opacity: 0.8;
}
.site-footer-top:active {
  opacity: 0.6;
}

.site-footer-icons {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}
.site-footer-icons li {
   list-style-type: none;
   margin-right: 16px;
}
.site-footer-icons a {
  color: darkblue;
}
.site-footer-icons a:hover {
  color: #FF7500;
}
.site-footer-icons a:active {
  opacity: 0.6;
}
.site-footer-icons svg {
  display: block;
}
.line {
  background: rgba(37, 36, 32, 0.5);
  height: 2px;
  border: 0;
  margin-top: 40px;
  margin-bottom: 64px;
}
.pages {
  display: flex;
}
.site-footer-links {
  padding: 0;
  margin: 0;
  margin-right: 68px;
  list-style-type: none;
  width: 225px;
  line-height: 19px;
}

.site-footer-links:last-child {
 margin-right: 0;
}
.site-footer-links li {
  margin-bottom: 16px;
}
.site-footer-links li:last-child {
  margin-bottom: 0;
}
.site-footer-links a {
  font-family: "Roboto Condensed", sans-serif;
  text-decoration: none;
  color: #252420;
  line-height: 19px;
}
.site-footer-links a:hover {
  color: #FF7500;
}
.site-footer-links a:active {
  color: #FF7500;
}
